/*
 * @Description: 全局更改element的样式文件
 * @Version: 1.1.0
 * @Autor: ranli
 * @Date: 2019-12-22 14:24:56
 * @LastEditors  : ranli
 * @LastEditTime : 2020-01-09 11:03:03
 */
// 自定义tabs


.addOreditRecord {
  .fromTab {
    .el-tabs__active-bar {
      height: 5px;
    }
  }

  .el-date-editor,
  .el-select {
    width: 100%;
  }

  //增加健康档案的多选框的类
  .coustomCheckbox {}

  .Other {
    .OtherChecked {}

    .OtherInput {
      width: 100%;

      .el-input__inner {
        border-top: none;
        width: 100%;
        border-left: none;
        height: 20px;
        line-height: 20px;
        border-radius: 0;
        border-right: none;
      }
    }
  }
}

//面包导航
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  color: #333333;
  font-weight: 500;
}

//表头
.el-table {
  th {
    .cell {
      text-align: center;
      font-size: 600;
      color: #333333;
      font-size: 14px;
    }
  }

  .cell {
    text-align: center;
    color: #666666;
    font-size: 12px;
  }

  .tabelHandelBtn {
    border: none;
    font-size: 12px;
    background-color: transparent;
    color: #4C9BDF;
  }
}

//自定义搜索表单按钮样式
.searchFromConfirmBtn {
  width: 106px;
  height: 30px;
  background: linear-gradient(45deg, rgba(54, 176, 185, 1) 0%, rgba(54, 146, 185, 1) 100%);
  opacity: 0.4;
  border-radius: 5px;
  color: white;

  &:hover {
    color: white;
  }
}

.el-avatar>img {
  width: 100%;
  height: 100%;
}

//自定义弹窗样式
.medicalDialog {}