/*
 * @Description: 样式入口文件
 * @Version: 1.1.0
 * @Autor: ranli
 * @Date: 2019-12-22 14:22:15
 * @LastEditors  : Seven
 * @LastEditTime : 2019-12-23 17:02:51
 */
//引入reset文件
@import './reset.scss';


//引入修改element全局修改的样式文件 推荐配置customClass


@import './element.scss';


.container {
    width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    background-color: #F8F8F8;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.tcl {
    text-align: left;
}


/* margin */
.mr0auto {
    margin: 0 auto;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.mt25 {
    margin-top: 25px;
}

.mt46 {
    margin-top: 46px;
}

.mt60 {
    margin-top: 60px;
}

.mt70 {
    margin-top: 70px;
}

/* padding */
.pd40 {
    padding: 40px;
}

.pd30 {
    padding: 30px;
}

.pd44 {
    padding: 44px;
}

.ptb55 {
    padding: 44px 0;
}

.ptb162 {
    padding: 162px 0;
}

/* 字体颜色 */
.cfff {
    color: #fff;
}

.c333 {
    color: #333;
}

.c666 {
    color: #666;
}

.c999 {
    color: #999;
}

.c78D0C1 {
    color: #78D0C1;
}

/* 字体加粗 */
.fw400 {
    font-weight: bold;
}


/* 字体大小 */
.fs26 {
    font-size: 26px;
}

.fs24 {
    font-size: 24px;
}

.fs16 {
    font-size: 16px;
}

.fs12 {
    font-size: 12px;
}

/* 行高 */
.lh20 {
    line-height: 20px;
}

.lh30 {
    line-height: 30px;
}


/* 背景色 */
.bgcfff {
    background-color: #fff;
}

.bgc88E6D6 {
    background-color: #88E6D6;
}

.bgc78D0C1 {
    background-color: #78D0C1;
}

.reg,
.login,
#forget {
    .el-form {
        width: 390px;
        position: relative;

        .get-code {
            position: absolute;
            height: 20px;
            width: 121px;
            line-height: 20px;
            padding: 0 20px;
            font-size: 16px;
            color: rgba(76, 155, 223, 1);
            right: 7px;
            top: 15px;
            text-align: center;
            border-left: 1px solid #dcdfe6;
        }

        .countdown {
            color: #999 !important;
        }

        .url-tag {
            color: #3686b9;
        }

        .el-form-item__label {
            font-size: 18px;
            color: #888;
            margin-left: 30px;
            padding: 0 !important;
        }

        .el-input__inner {
            border-radius: 25px;
            text-indent: 15px;
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
                text-indent: 15px;
            }

            &:focus {
                border: 1px solid rgba(153, 153, 153, 1);
            }
        }

        .el-input__suffix {
            right: 16px;
            top: 2px;

            .el-input__icon {
                font-size: 18px;

            }
        }
        .el-form-item__content{
            text-align: center;
        }

        .el-form-item__error {
            color: #FF7465;
            text-indent: 20px;
            line-height: 20px;

            &::before {
                content: '';
                height: 16px;
                width: 16px;
                display: inline-block;
                background: url('../assets/images/login/jinggao.png') center no-repeat;
                vertical-align: middle;
                margin-right: 4px;
            }
        }

        /* 下拉框/日历框 */
        .el-select,
        .el-date-editor {
            width: 390px !important;

            .is-focus {
                .el-input__inner {
                    border-color: rgba(153, 153, 153, 1) !important;
                }
            }

            .el-input__inner {
                &:focus {
                    border-color: rgba(153, 153, 153, 1) !important;
                }
            }

            .el-input__suffix {
                right: 12px;
            }

            .el-icon-date {
                font-size: 20px;
            }

            .el-input__prefix {
                left: 16px;
                top: 2px;
            }
        }

        /* 选项 start */
        .regular-check {
            display: none;
        }

        .regular-check+label {
            -webkit-appearance: none;
            background-color: #fff;
            display: inline-block;
            position: relative;
            top: 6px;
            margin-left: 30px;
            width: 20px;
            height: 20px;
            left: -10px;
            border: 1px solid rgba(153, 153, 153, 1);
        }

        .regular-check:checked+label {
            border: 1px solid #78D0C1;

            &:after {
                content: ' ';
                width: 14px;
                height: 14px;
                position: absolute;
                top: 2px;
                background: #78D0C1;
                box-shadow: 0px 0px 5px 0px #78D0C1;
                left: 2px;
            }
        }

        .check-label {
            cursor: pointer;
            color: #666;

        }

        /* 选项 end */

        .el-form-item__content {
            .el-button {
                width: 162px;
                height: 60px;
                border: 1px solid rgba(120, 208, 193, 1);
                border-radius: 15px;
                color: #78D0C1;

                &:disabled {
                    opacity: 0.5;
                    cursor: pointer;
                }

                span {
                    font-size: 20px;

                }

                &:hover {
                    background: none;
                    color: none;
                }

                &.el-button--primary {
                    background: linear-gradient(0deg, rgba(120, 208, 193, 1) 0%, rgba(120, 195, 208, 1) 100%);
                    color: #fff;
                }
            }
        }
    }
}