/*
 * @Description: 样式重置文件
 * @Version: 1.1.0
 * @Autor: ranli
 * @Date: 2019-12-22 14:22:31
 * @LastEditors  : ranli
 * @LastEditTime : 2019-12-23 11:24:03
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html,
body {
  min-height: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

body {
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:link,
a:visited {
  text-decoration: none;
  outline: none
}

a:hover {
  color: inherit
}

a:active,
a:hover {
  outline-width: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}